<div class="button-container">
    <app-custom-button 
      label="Get Products"
      color="grey"
      (buttonClick)="getProducts()">
    </app-custom-button>
</div>

<div>
  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Seller</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>
          <!-- {{ product.productName | uppercase | slice:0:3 }} -->
          {{ product.productName }}
        </td>
        <td>{{ product.price | rupeeSymbol}}</td>
        <td>{{ product.seller.sellerName | prefixGenerator: product.seller.gender:  product.seller.married }}</td>
      </tr>
    </tbody>
  </table>
  
</div>